<footer>
  <div class="wrapper">

    <ul class="social">

      <li>
        <a href="https://github.com/GerritSommer" target="_blank">
          {{fa-icon "github" size="2"}}
        </a>
      </li>

      <li>
        <a href="https://twitter.com/sommer_gerrit" target="_blank">
          {{fa-icon "twitter" size="2"}}
        </a>
      </li>



     {{!--  <li>
      <a href="" target="_blank"><img src="assets/images/twitter_icon.png" alt="" title=""></a>
      </li>
      <li>
      <a href="#" target="_blank"><img src="assets/images/google_icon.png" alt="" title=""></a>
      </li>
      <li>
      <a href="#" target="_blank"><img src="assets/images/rss_icon.png" alt="" title=""></a>
      </li> --}}
    </ul>
  </div>
</footer>