<main>

  <section class="row">
    <div class="col-3-1">
      <article>
        <div>
          <h3>About</h3>
          <p>
            This site is my experimental field for testing new ember features and to post some stuff about ember and other topics.
            <br>
            Lets hope this gets populated pretty soon.
          </p>

          <p>

            <pre class="grey-text">
  function Panel(element, canClose, closeHandler) {
    this.element = element;
    this.canClose = canClose;
    this.closeHandler = function () { if (closeHandler) closeHandler() };
  }
            </pre>
          </p>

        </div>
      </article>
    </div>

    <aside class="col-1-3 home">
      <section class="link-list">
        <ul>

          <li>
            <h4>Links</h4>
          </li>

          <li>
            <a href="http://emberjs.com/">
              <img src="/assets/images/tomster.png" alt="Ember JS" width="30" height="30">
              Ember JS
            </a>
          </li>

          <li>
            <a href="http://metrigo.com/"  class="clearfix">
              <img src="/assets/images/metrigo.png" alt="Metrigo" width="28" height="30">
              Metrigo
            </a>
          </li>

        </ul>
      </section>

    </aside>
  </section>
</main>



{{!--

  <section class="row center-text">
    <div class="col-3">
      <h1>Rnim minim veniaisi</h1>
      <p>
        Aute irure dolor in reprehenderit intor voluptate velit esse cillum dolore euro fugiat nulla pariatur excepteur sintary occaecat cupidatat proident.
      </p>
    </div>
    <div class="col-3">
      <h1>Integer rhoncus libero</h1>
      <p>
        Aute irure dolor in reprehenderit intor voluptate velit esse cillum dolore euro fugiat nulla pariatur excepteur sintary occaecat cupidatat proident.
      </p>
    </div>
    <div class="col-3">
      <h1>magna vitae diaculis</h1>
      <p>
        Aute irure dolor in reprehenderit intor voluptate velit esse cillum dolore euro fugiat nulla pariatur excepteur sintary occaecat cupidatat proident.
      </p>
    </div>
  </section> --}}

{{!--   <section>
    <div class="row">
      <div class="col-2">
        <a href="#"><img src="assets/images/project1.jpg" alt="" title=""></a>
      </div>
      <div class="col-2">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo ...
        </p>
      </div>
    </div>
  </section> --}}


